body {
    background-image: url(../img/pattern.jpg);
    margin: 0px;
}

header {
    background-color: white;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    padding-right: 10px;
}

a {
    font-weight: bold;
    text-decoration: none;
    font-size: 17px;
}

section {
    background-color: white;
    margin-top: 75px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    width: 75%;
    margin-left: 190px;
}

h1 {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

h3 {
    margin-top: 50px
}

article {
    padding-left: 5px;
    border-bottom: gray solid 2px;
}

footer {
    background-color: black;
    padding: 2px;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
}

h5 {
    color: white;
    text-align: center;
}